<% if user_signed_in? %>
<p id="notice"><%= notice %></p>

<h1>Placetypes</h1>

<table>
  <thead>
    <tr>
      <th>保管場所名</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @placetypes.each do |placetype| %>
      <tr>
        <td><%= placetype.name %></td>
        <td><%= link_to '詳細', placetype %></td>
        <td><%= link_to '編集', edit_placetype_path(placetype) %></td>
        <td><%= link_to '破棄', placetype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @placetypes %>

<br>

<%= link_to '新しい保管場所を登録', new_placetype_path %>
<% else %>
  <p><%= link_to "Mastodonアカウントでログイン", user_mastodon_omniauth_authorize_path %></p>
<% end %>