<% if user_signed_in? %>
<p id="notice"><%= notice %></p>

<p>
  <strong>保管場所名:</strong>
  <%= @placetype.name %>
</p>

<%= link_to '編集', edit_placetype_path(@placetype) %> |
<%= link_to '戻る', placetypes_path %>
<% else %>
  <p><%= link_to "Mastodonアカウントでログイン", user_mastodon_omniauth_authorize_path %></p>
<% end %>