<%= form_with(model: food, local: true) do |form| %>
  <% if food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% food.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :食材名 %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :"賞味期限 or 消費期限" %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :食品群類 %>
    <%= form.collection_select(:food, Foodtype.where(user_id: current_user.id).all, :name, :name, include_blank: true) %>
  </div>

  <div class="field">
    <%= form.label :保管場所 %>
    <%= form.collection_select(:place, Placetype.where(user_id: current_user.id).all, :name, :name, include_blank: true) %>
  </div>

  <div class="field">
    <%= form.label :食材の画像 %>
    <%= form.file_field :picture, id: :picture %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
