<% if user_signed_in? %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @foodtype.name %>
</p>

<%= link_to '編集', edit_foodtype_path(@foodtype) %> |
<%= link_to '戻る', foodtypes_path %>
<% else %>
  <p><%= link_to "Mastodonアカウントでログイン", user_mastodon_omniauth_authorize_path %></p>
<% end %>